@charset 'utf-8';

/* common */
* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100vh;
  font-size: 16px;
}
button {
  background: none;
  border: none;
  outline: none;
}
a {
  text-decoration: none;
  color: #1b1b1b;
  font-size: 16px;
}
p {
  font-size: 16px;
}
h1,
h2,
h3 {
  font-family: "Bree Serif", serif;
}

/* settings */
@media screen and (max-width: 1200px) and(min-width: 1025px) {
  .gnb-cont {
    display: block;
  }
}

@media screen and (max-width: 1024px) and (min-width: 770px) {
}

/* sandwich button */
@media screen and (max-width: 769px) {
}
/* first header */

.logo::before {
  display: block;
  content: "";
  width: 206px;
  height: 62px;

  background: url(/img/MDN_none.svg) center/contain no-repeat;
}

.gnb-cont {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 24px 12px;
}
.lnb-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lnb-cont button {
  font-size: 16px;
  font-weight: bold;
}

.lnb-cont li:not(.logo) {
  margin-left: 60px;
}

.lnb-cont li:not(.logo)::before {
  display: inline-block;
  content: "";
  background: url(/img/triangle.svg);
  width: 12px;
  height: 12px;
  transform: rotate(90deg);
}

.mdn-search {
  box-sizing: content-box;
  width: 329px;
  height: 24px;
  padding: 6px 12px;
  border: 2px solid black;
  margin-right: 57px;
  font-size: 16px;
}
.search-mark::after {
  position: absolute;
  top: 58px;
  right: 160px;
  display: block;
  content: "";
  background: url(/img/search.svg) center/contain;
  width: 21px;
  height: 21px;
  /* z-index: 10; */
}
/* main */

/* main .scnd-header-cont {
  width: 1680px;
  background-color: #83bfff;
  height: 291.49px;
  padding: 75px 48px 72px;
}
main .scnd-header-wrapper {
  margin: 0 auto;
}
main .mdn-title {
  display: inline-block;
  letter-spacing: 2.5px;
  font-size: 30px;
  color: #fff;
  line-height: 1.75;
  background-color: #000;
  width: 750px;
  height: 46.5px;
}
main .scnd-header-cont ul {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1023px;
  font-size: 1.6rem;
}
main .scnd-header-cont a {
  display: inline-block;
  width: 225px;
  height: 50px;
  text-align: left;
  padding: 12px 0;
  border-bottom: 1px solid #1b1b1b;
}
main .scnd-header-cont li::after {
  display: inline-block;
  content: "";
  background: url(/mdn_clone/img/arrow.svg);
  width: 16px;
  height: 16px;
  transform: rotate(90deg);
  position: absolute;
} */

/* main-header */
main .scnd-header-wrapper {
  width: 100vw;
  height: 290px;
  padding: 75px 48px 72px;
  background-color: #83bfff;
}
main .scnd-header-content {
  max-width: 65em;
  margin: 0 auto;
}
main .mdn-title {
  margin: 0 136.5px 48px;
  display: inline-block;
  font-size: 2.4rem;
  color: #fff;
  background-color: #000;
  font-weight: 400;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.035rem;
  padding: 0 24px;
  box-sizing: content-box;
}
main .scnd-header-content ul {
  display: flex;
  justify-content: center;
}

main .scnd-header-content li {
  width: 256px;
  padding: 12px 0;
  position: relative;
}

main .scnd-header-content a {
  border-bottom: 2px solid #1b1b1b;
  padding: 12px 0;
}

main .scnd-header-content a::after {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(/img/arrow.svg);
  transform: rotate(90deg);
  /* position: absolute;
  top: 19px;
  right: 6px; */
}
/* main-blog */

.cont-mdn-docs {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  margin: 48px 132.5px;
  box-sizing: border-box;
  /* grid-gap? */
  gap: 24px;
  line-height: 1.2;
}
.mdn-main-docs {
  width: 619px;
  /* display block 왜? */
  display: block;
  flex-basis: 65%;
  /* vertical-align: baseline; */
}
.mdn-main-docs h2 {
  font-size: 39px;
}
.mdn-main-docs a {
  font-size: 16px;
  color: #005282;
}
.mdn-article {
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 12px;
  line-height: 1.6;
  padding-right: 103px;
}
.mdn-article h3 a {
  font-size: 31px;
}

.mdn-article em {
  font-size: 14px;
}

.mdn-aside {
  max-width: 464px;
}
.mdn-aside h2 {
  flex-basis: 35%;
  box-sizing: border-box;
  display: block;
  font-size: 31px;
  margin-bottom: 24px;
}
.mdn-aside p {
  line-height: 1.5;
}
.mdn-aside li {
  margin-bottom: 12px;
  border-bottom: 1px solid #f4f4f4;
}
/* main common */
.link-effect a {
  color: #005282;
  font-weight: 400;
}
.link-effect a:hover {
  text-decoration: underline;
}
/* footer */
.footer-wrapper {
  font-size: 16px;
  background-color: #1b1b1b;
  padding: 48px 24px;
  box-sizing: border-box;
}
footer a,
footer small,
footer .footer-sns {
  color: #fff;
}

.footer-link a:hover {
  text-decoration: underline;
}
.footer-container {
  display: grid;
  max-width: 1400px;
  margin: 0 auto;
}
.footer-logo {
  grid-column: 1/3;
  grid-row: 1/2;
  width: 200px;
  filter: invert(100%);
  margin-bottom: 24px;
}
.footer-link li {
  padding: 10px 0;
}
.footer-link-left {
  grid-column: 1/2;
  grid-row: 2/3;
}
.footer-link-right {
  grid-column: 2/3;
  grid-row: 2/3;
}
.footer-sns {
  height: 44px;
  margin: 16px 0;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.footer-sns li:first-child {
  margin-right: 10px;
}
.sns-mmm {
  grid-column: 1/3;
  grid-row: 3/5;
}
/* ++ li태그 입력할 것!!! */
.sns-mmm li:nth-child(2)::before {
  display: inline-block;
  content: url(/img/twitter.svg);
  background: center/cover;
  filter: invert(1);
  width: 18px;
  height: 18px;
  padding-left: 6px;
}
.sns-mmm li:nth-child(3)::before {
  display: inline-block;
  content: url(/img/gitHub.svg);
  background: center/cover;
  filter: invert(1);
  width: 18px;
  height: 18px;
  padding-left: 6px;
}
.sns-mmzzll {
  grid-column: 2/3;
  grid-row: 3/5;
}
.sns-mmzzll li:nth-child(2)::before {
  display: inline-block;
  content: url(/img/twitter.svg);
  background: center/cover;
  filter: invert(1);
  width: 18px;
  height: 18px;
  padding-left: 6px;
}
.sns-mmzzll li:nth-child(3)::before {
  display: inline-block;
  content: url(/img/instagram.445373fc.svg);
  background: center/cover;
  filter: invert(1);
  width: 18px;
  height: 18px;
  padding-left: 6px;
}
.footer-copyright {
  grid-column: 1/3;
  grid-row: 5/7;
  margin: 50px 0;
  padding-top: 30px;
  box-sizing: border-box;
  border-top: 1px solid #fff;
}
.footer-legal {
  grid-column: 1/3;
  grid-row: 7/8;
  display: flex;
}
.footer-legal li {
  padding-right: 20px;
}
